@using ppl.Web.Startup
@using ppl.Web.Models.Home
@inject ppl.Timing.AppTimes AppTimes
@model HomeViewModel
@{
    ViewBag.CurrentPageName = PageNames.Home; // The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/jquery-countTo/jquery.countTo.js" asp-append-version="true"></script>
        <script src="~/lib/raphael/raphael.js" asp-append-version="true"></script>
        <script src="~/lib/morris.js/morris.js" asp-append-version="true"></script>
        <script src="~/lib/chart.js/dist/Chart.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.resize.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.pie.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.categories.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.time.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="block-header">
    <h1>
        工作台   <small>统计数据与报告 </small> <small class="right">
            <button class="btn btn-default btn-sm"> 刷新
            </button> <button class="btn btn-default btn-sm">
                <i class="material-icons" style="font-size:15px;">
                    settings
                </i>  设置仪表盘参数
            </button>
        </small>
    </h1>
</div>
<hr />
@*工作台内容：*@
<div class="row clearfix">
    @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">所有新闻数据</div>
                    <div class="number count-to" data-from="0" data-to="@Model.NewsCount" data-speed="2000" data-fresh-interval="40"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">help</i>
                </div>
                <div class="content">
                    <div class="text">类别项</div>
                    <div class="number count-to" data-from="0" data-to="@Model.CategoryCount" data-speed="2000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">forum</i>
                </div>
                <div class="content">
                    <div class="text">标签项数</div>
                    <div class="number count-to" data-from="0" data-to="@Model.TagsCount" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">person_add</i>
                </div>
                <div class="content">
                    <div class="text">用户反馈项</div>
                    <div class="number count-to" data-from="0" data-to="@Model.FeedBackCount" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>*@
    <div class="info-fox col-md-3">
        <div class="number-info">
            <div class="number-title">
                <h3 class="text-1">45</h3>
                <p>新的资料数据</p>
            </div>
            <div class="icon-info">
                <i class="material-icons">receipt</i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress-box">
                <span style="width: 79%;" class="back-1">
                </span>
            </div>
            <div class="progress-status">
                <p>
                    @DateTime.Now.ToString("D") - @DateTime.Now.ToString("D") <font class="right">79%</font>
                </p>
            </div>
        </div>
    </div>
    <div class="info-fox col-md-3">
        <div class="number-info">
            <div class="number-title">
                <h3 class="text-2">146</h3>
                <p>最近增长</p>
            </div>
            <div class="icon-info">
                <i class="material-icons">flight_takeoff</i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress-box">
                <span style="width: 67%;" class="back-2">
                </span>
            </div>
            <div class="progress-status">
                <p>
                    @DateTime.Now.ToString("D") - @DateTime.Now.ToString("D") <font class="right">67%</font>
                </p>
            </div>
        </div>
    </div>
    <div class="info-fox col-md-3">
        <div class="number-info">
            <div class="number-title">
                <h3 class="text-3">671</h3>
                <p>用户意见</p>
            </div>
            <div class="icon-info">
                <i class="material-icons">pan_tool</i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress-box">
                <span style="width: 60%;" class="back-3">
                </span>
            </div>
            <div class="progress-status">
                <p>
                    @DateTime.Now.ToString("D") - @DateTime.Now.ToString("D") <font class="right">60%</font>
                </p>
            </div>
        </div>
    </div>
    <div class="info-fox col-md-3">
        <div class="number-info">
            <div class="number-title">
                <h3 class="text-4">90</h3>
                <p>持续性</p>
            </div>
            <div class="icon-info">
                <i class="material-icons">assignment_turned_in</i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress-box">
                <span style="width: 34%;" class="back-4">
                </span>
            </div>
            <div class="progress-status">
                <p>
                    @DateTime.Now.ToString("D") - @DateTime.Now.ToString("D") <font class="right">34%</font>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix data_info">
        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h2 class="title-data">资料数据概况 <small>2019年7月-2019年12月</small></h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <button class="btn btn-sm btn-outline btn-primary">每周</button>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-sm btn-outline btn-primary">每日</button>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-sm btn-outline btn-primary">每月</button>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Manager</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Task A</td>
                                    <td><span class="label bg-green">Doing</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Task B</td>
                                    <td><span class="label bg-blue">To Do</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Task C</td>
                                    <td><span class="label bg-light-blue">On Hold</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-light-blue" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Task D</td>
                                    <td><span class="label bg-orange">Wait Approvel</span></td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Task E</td>
                                    <td>
                                        <span class="label bg-red">Suspended</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Task Info -->
        <!-- Browser Usage -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="header">
                    <h2>BROWSER USAGE</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div id="donut_chart" class="dashboard-donut-chart"></div>
                </div>
            </div>
        </div>
        <!-- #END# Browser Usage -->
    </div>
